.git
.env
.env.*
storage
node_modules
coverage
playwright-report
test-results
*.log

apps/api/tmp
apps/api/bin
apps/api/coverage
apps/api/coverage.out
apps/api/*.test
apps/api/*.out
apps/api/*.prof
apps/api/*.coverprofile

apps/web/node_modules
apps/web/.nuxt
apps/web/.nuxt-build
apps/web/.nuxt-typecheck
apps/web/.output
apps/web/.nitro
apps/web/.vite
apps/web/.cache
apps/web/dist
apps/web/coverage
apps/web/playwright-report
apps/web/test-results
