.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
node_modules
.phpunit*
*.cache
/resources/js/themes
/resources/sass/themes
/resources/views/plugins
/resources/js/plugins
/public/plugins
/public/themes
/plugins.mix.js
/resources/sass/plugins
/public/upload
/public/uploads
/public/css/diy.css
/public/js/diy.js
/app/CodeFec/storage
/resources/views/customize/