.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
node_modules
.phpunit*
*.cache
/resources/views/plugins
/resources/js/plugins
/public/plugins
/plugins.mix.js
/resources/sass/plugins
/public/upload
/public/uploads
/public/css/diy.css
/public/js/diy.js
/app/Plugins
!/app/Plugins/Core
!/app/Plugins/User
!/app/Plugins/Topic
!/app/Plugins/Comment
!/app/Plugins/Api
!/app/Plugins/Search
!/app/Plugins/Mail