@font-face {
  font-family: HarmonyOS_Sans_SC_Medium;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/58d1ca58-60f0-454e-9f63-f802732a7078.woff2') format('woff2')
}

* {
  font-family: HarmonyOS_Sans_SC_Medium, serif;
}